<h1>About</h1>
<p>This page was created by Nate Dalo as a starting point for learning Ruby on Rails.</p>
<h2>You've Never <em>'Scene'</em> That!?</h2>
<p>You've probably said or heard someone say "What!? You've never seen that!?" when talking about a movie.  The purpose of this site is to compile all of the must see movies into a single location!  Vote for top movies today!</p>